{%extends 'website/base.html'%}
{% block title%} FAQs{% endblock %} 
{% load static %}
{% block content %}
<section id="faqs" class="faq">
    <div class="breadcrumb-area contact bg-overlay ">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <div class="breadcrumb-link">
                            <a href="{% url 'index' %}">Home</a>
                            <span>FAQs</span>
                        </div>
                        <h2>Frequently Asked Questions</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="container-fluid " data-aos="fade-up">
      <div class="section-title text-center ">
        <h2 class="title">Have any question in your mind?</h2>
        <p>Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.</p>
        </div>
        <div class="row px-5">
            <div class="col-lg-6">
                <div class="accordion-list mt-5 mb-5">
                    <ul>
                        <li>
                            <a data-toggle="collapse" href="#accordion-list-1" class="collapsed">What is "Twist and Tours" ?<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                            <div id="accordion-list-1" class="collapse" data-parent=".accordion-list">
                              <p>
                                It is India's fastest growing Travel Community. Our services include road trips, trekking expeditions, corporate trips, college tours and customised packages. We refuse to sacrifice quality, independence and freedom, and believe solo adventures should go hand in hand with unforgettable moments with like-minded travellers.<br>
                                Talk to us about your holiday and you’ll realise why our customers return again and again with couple of more friends. Whatever you choose we guarantee you the experience of a lifetime!
                              </p>
                            </div>
                          </li>
      
                      <li>
                        <a data-toggle="collapse" href="#accordion-list-2" class="collapsed">Can I travel Solo as well or have to get minimum number of people?<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                        <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                          <p>
                            Solo, Couple, Friends or Family.. There's a trip for everyone.
                            Travellers join Solo, with a few friends or as a couple on our group tours.We take them all together and make sure to conduct various Icebreaking sessions for a thrilling experience. People from all over India can join us.
                          </p>
                        </div>
                      </li>
      
                      <li>
                        <a data-toggle="collapse" href="#accordion-list-3" class="collapsed">Are there any age restrictions for this tour?<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                        <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                          <p>
                            The idea is to feel young at heart ! As long as you feel the same, hop along.
                            Generally, the agent band for group departures remains 18 years and above. Group members less than 18 years of age are welcome to join the tour but only with a family member that will act as their guardian whilst on tour. Aside from that, no age requirements at all!
                          </p>
                        </div>
                      </li>

                      <li>
                        <a data-toggle="collapse" href="#accordion-list-4" class="collapsed">Are these trips safe for female travellers?<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                        <div id="accordion-list-4" class="collapse" data-parent=".accordion-list">
                          <p>
                            We're always glad to have a lot of female travellers with us on board! Team captains/leader accompanying you are very well trained and assure the safety of all the fellow travellers be it male or female.
                            Moreover, we always have a local support in case of an emergency at the destination or during travelling.
                          </p>
                        </div>
                      </li>

                      <li>
                        <a data-toggle="collapse" href="#accordion-list-5" class="collapsed">Would there be Non-Veg food available?<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                        <div id="accordion-list-5" class="collapse" data-parent=".accordion-list">
                          <p>
                            Good news for all you Non-Veg Lovers ! Mostly we provide the option of Non-Veg dinner at most of the destinations except for some religious places. However, non-veg is always a subject to availability.
                          </p>
                        </div>
                      </li>
      
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="accordion-list mt-5 mb-5">
                    <ul>
                        <li>
                            <a data-toggle="collapse" href="#accordion-list-6" class="collapsed">What seats would be provided to us on transportation?<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                            <div id="accordion-list-6" class="collapse" data-parent=".accordion-list">
                              <p>
                                Alright here's a little warm-up game for you before the trip !
                                Whosoever reaches first to the pickup point gets to choose their favourite seat ! So, in short, there's no specific seat allotment. Travelers can occupy the seats on first come, first serve basis.
                              </p>
                            </div>
                          </li>
      
                      <li>
                        <a data-toggle="collapse" href="#accordion-list-7" class="collapsed">Do I have to make full payment before the trip?<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                        <div id="accordion-list-7" class="collapse" data-parent=".accordion-list">
                          <p>
                            For our weekend fixed departures, you are required to deposit a booking amount of INR 2000-3000 per person and rest of the amount can be transferred at the time of departure.<br>
                            For long expedition tours or customized tours, you are required to deposit a booking amount of INR 5000 per person and rest of the amount can be transferred 6 days prior to the trip.
                          </p>
                        </div>
                      </li>
      
                      <li>
                        <a data-toggle="collapse" href="#accordion-list-8" class="collapsed">What if I need to cancel my tour? Is the booking amount refundable?<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                        <div id="accordion-list-8" class="collapse" data-parent=".accordion-list">
                          <p>
                            We have a cancellation policy on our website kindly go through it. There is a certain amount we may or may not deduct which depends on the date of your cancellation.
                          </p>
                        </div>
                      </li>

                      <li>
                        <a data-toggle="collapse" href="#accordion-list-9" class="collapsed">Does the tour price include airfare tickets ?<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                        <div id="accordion-list-9" class="collapse" data-parent=".accordion-list">
                          <p>
                            No! Airfare tickets are not included in the packages. However, we do flight bookings separately. You may contact any of our team member to get the charges of Air Tickets.
                          </p>
                        </div>
                      </li>

                      <li>
                        <a data-toggle="collapse" href="#accordion-list-10" class="collapsed">How can I reach the pickup point from Airport/Railway station in Delhi?<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                        <div id="accordion-list-10" class="collapse" data-parent=".accordion-list">
                          <p>
                            While you are in Delhi, a metro ride is the best mode of conveyance. While there is no shortage of cabs, but Delhi's traffic can get pretty unpredictable.
                          </p>
                        </div>
                      </li>
      
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
