{%extends 'website/base.html'%}
{% block title%} Terms and Conditions {% endblock %} 
{% load static %}
{% block content %}
<section id="termscondition">
    <div class="breadcrumb-area contact bg-overlay ">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <div class="breadcrumb-link">
                            <a href="{% url 'index' %}">Home</a>
                            <span>Terms and Conditions</span>
                        </div>
                        <h2>Terms and Conditions</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content mt-5 mb-3">
                    <ul>
                        <li>All bookings are strictly subject to confirmation of payments.</li>
                        <li>No boarding without valid govt approved ID.</li>
                        <li>We do not have insurance policy covering the expenses for accident, sickness, loss due to theft or any other reason. Guest are advised to seek such Insurance in advance. </li>
                        <li>Management shall not be responsibility of a missing items during trip. </li>
                        <li>We request not to travel with heavy luggage.</li>
                        <li>Factors such as weather, road conditions, physical abilities of the participants etc.. may dictate itinerary change. We reserve the right to change any schedule in interest of safety, comfort and general well-being.</li>
                        <li>We do not allow smoking during the travel in bus.</li>
                        <li>Twist and tours reserve the right to discontinue your trip at any point on the grounds of misconduct and no refund shall be made under such circumstance. </li>
                        <li>Departure time is fixed as given and its on you to update your status to the trip coordinator. Trip coordinator will also try to contact you at least 2 times but twist and tours is not responsible for phone not getting connected. </li>
                        <li>The person making the reservation is responsible for any damage caused to room/camp/resort furnishing and is liable to pay for the same. </li>
                        <li>Please note that after the finalization of the Tour/ServiceCost, if there are any Hike in entrance fees of Monuments/museums, taxes, fuel cost or guide charges - by Govt of India, the same would be charged as extra. </li>
                        <li>In the hilly terrain, it will be the discretion of the driver to put off the systems of the vehicle like Air Conditioner, sound system. Focus will always be on safety.</li>
                        <li>In case of any injuries/illness during the trip/activity, twist and tours as a Tour operator or any of our local staff will not be responsible. </li>
                        <li>No act of misconduct or indiscipline shall be tolerated on the tours. We are a cordial travel community and we aspire to bring to you a hassle free and memorable experience.</li>
                        <li>It is understood that any expenses (eg. Hotel, means, transport, telephone calls, repairing of vehicle etc) relating to the unscheduled extensions like natural calamity, break down of vehicle, any other delays which are beyond our control will be bear by the passengers and no refund will be given in any scenario.</li>
                        <li>We reserve the rights for the cancellation of a particular person not following the instructions of our guide during any activity. </li>
                        </ul>
                </div>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}